@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: #f6f8fb;
  color: #111827;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .force-tailwind-debug {
    @apply p-6 bg-yellow-100 text-3xl text-red-600 border rounded;
  }
}
